@font-face {
  font-family: "Patrick Hand";
  src: url("./fonts/PatrickHandRegular.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("./fonts/RobotoRegular.ttf");
}
:root {
  --thumbSize: 25px;
  --themeColor: #ffe001;
  --foreground: #f5ece7;
  --darkground: #585a79;
}

.container {
  /* margin: 0 2em; */
  min-height: 100vh;
  width: 100%;
  /* max-width: 600px; */
  display: flex;
  flex-direction: column;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--darkground);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: Roboto;
  color: var(--darkground);
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
header {
  background-color: var(--darkground);
  color: var(--foreground);
  display: flex;
  justify-content: center;
  padding: 15px 0;
  top: 0;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  position: sticky;
  position: -webkit-sticky;
}
.header_contents {
  min-width: 250px;
  width: 100%;
  max-width: 800px;
  display: flex;
  justify-content: space-between;
  margin: 0 1em;
}
header h1 {
  font-size: 1.2rem;
  font-weight: lighter;
  margin-top: 0;
  
}
.installPrompt,
.pushPrompt {
  background-color: var(--foreground);
  color: var(--darkground);
  padding: 5px;
  margin: 0em 0em 1em;
  cursor: pointer;
  font-size: 0.7rem;
  border-radius: 3px;
}
.installPrompt {
  /* display: none; */
  visibility: hidden;
}
header .greetings__text {
  font-family: "Patrick Hand", cursive;
  font-size: 1.2rem;
  
}
main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--foreground);
}

.tabs {
  min-width: 250px;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tab__history,
.tab__info {
  display: none;
}
.tabs__content {
  margin: 0 1em;
}
.tab__info__pseudo_text {
  color: var(--foreground);
  background-color: var(--darkground);
  padding: 1px 6px;
  border-radius: 2px;
  cursor: pointer;
  display: none;
}
.tab__info__pseudo_form {
  display: inline-block;
  width: 30px;
}
.tab__info__pseudo_input {
  border: none;
  outline: none;
  color: inherit;
  max-width: 50px;
  padding: 5px 6px;
  /* border: 1px solid rgba(0, 0, 0, 0.5); */
  border-radius: 1px;
  background: #f5ece7;
  box-shadow: inset 2px 2px 3px #cbc4c0, inset -2px -2px 3px #ffffff;
}
.mood_form {
  min-width: 300px;
  width: 100%;
}

.mood_form .sliders {
  margin: 0 2em;
}
.mood_form__btn {
  width: max-content;
  padding: 15px 50px;
  margin: 1em auto;
  border: 2px solid var(--darkground);
  border-radius: 25px;
  color: var(--darkground);
  cursor: pointer;
  /* transition: 300ms; */
}
.mood_form__btn:active {
  background-color: var(--darkground);
  color: var(--foreground);
}
label {
  margin-top: 2em;
  font-size: 1.2rem;
  font-weight: 300;
}

.mood_preview {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  border-radius: 150px;
  border-radius: 150px;
  background: #f5ece7;
  padding: 5px;
  margin: 1em;
  box-shadow: inset 5px 5px 10px #dfd7d2, 
            inset -5px -5px 10px #fffffc;

}
.mood_images {
  width: 110px;
  height: 110px;
  display: grid;
  grid-auto-flow: column;
  /* overflow: hidden; */
  gap: 15px;
  margin: 0 auto;

  /* transform: translateY(-100px); */
  transition: 600ms;
}
.mood_image {
  height: 100px;
  /* height: 100px; */
  border-radius: 5px;
  animation: shake;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-iteration-count: 1;

  /* background-color: #fff; */
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 5px;
  /* background: var(--themeColor); */
  background: var(--foreground);
  box-shadow: inset 3px 3px 5px #ddd4d0, 
            inset -3px -3px 5px #fffffe;
  outline: none;
  margin: 0;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: var(--thumbSize);
  height: var(--thumbSize);
  /* border: 4px solid #fff; */
  border-radius: 50%;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  /* background: var(--themeColor); */
  background: var(--foreground);
  cursor: pointer;
  box-shadow:  3px 3px 5px #ddd4d0, 
             -3px -3px 5px #fffffe;
  
}

.slider::-moz-range-thumb {
  width: var(--thumbSize);
  height: var(--thumbSize);
  border-radius: 50%;
  background: var(--themeColor);
  cursor: pointer;
  
}

.slider_labels {
  margin: 0.5em 0 1.5em;
  padding: 0;
  list-style-type: none;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

/* ------- */

.nav {
  position: fixed;
  /* position: sticky; */
  bottom: 0;
  width: 100%;
  height: 55px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  display: flex;
  overflow-x: auto;
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  min-width: 50px;
  overflow: hidden;
  white-space: nowrap;
  font-family: sans-serif;
  font-size: 13px;
  color: #444444;
  text-decoration: none;
  cursor: pointer;
  /* pointer-events: none; */
  -webkit-tap-highlight-color: transparent;
  transition: background-color 0.1s ease-in-out;
}

.nav__link:hover {
  background-color: #eeeeee;
}

.nav__link--active {
  color: #009578;
}

.nav__icon {
  font-size: 18px;
}

/* -------------- */

@keyframes shake {
  2% {
    transform: translate(0, 0) rotate(0.5deg);
  }
  4% {
    transform: translate(0, 0) rotate(5.5deg);
  }
  6% {
    transform: translate(0, 0) rotate(0.5deg);
  }
  8% {
    transform: translate(0, 0) rotate(-5.5deg);
  }
  10% {
    transform: translate(0, 0) rotate(0.5deg);
  }
  12% {
    transform: translate(0, 0) rotate(2.5deg);
  }
  14% {
    transform: translate(0, 0) rotate(5.5deg);
  }
  16% {
    transform: translate(0, 0) rotate(-5.5deg);
  }
  18% {
    transform: translate(0, 0) rotate(-1.5deg);
  }
  20% {
    transform: translate(0, 0) rotate(4.5deg);
  }
  22% {
    transform: translate(0, 0) rotate(-6.5deg);
  }
  24% {
    transform: translate(0, 0) rotate(1.5deg);
  }
  26% {
    transform: translate(0, 0) rotate(1.5deg);
  }
  28% {
    transform: translate(0, 0) rotate(-4.5deg);
  }
  30% {
    transform: translate(0, 0) rotate(5.5deg);
  }
  32% {
    transform: translate(0, 0) rotate(2.5deg);
  }
  34% {
    transform: translate(0, 0) rotate(3.5deg);
  }
  36% {
    transform: translate(0, 0) rotate(-3.5deg);
  }
  38% {
    transform: translate(0, 0) rotate(-4.5deg);
  }
  40% {
    transform: translate(0, 0) rotate(2.5deg);
  }
  42% {
    transform: translate(0, 0) rotate(0.5deg);
  }
  44% {
    transform: translate(0, 0) rotate(-3.5deg);
  }
  46% {
    transform: translate(0, 0) rotate(-4.5deg);
  }
  48% {
    transform: translate(0, 0) rotate(-1.5deg);
  }
  50% {
    transform: translate(0, 0) rotate(-3.5deg);
  }
  52% {
    transform: translate(0, 0) rotate(-2.5deg);
  }
  54% {
    transform: translate(0, 0) rotate(3.5deg);
  }
  56% {
    transform: translate(0, 0) rotate(0.5deg);
  }
  58% {
    transform: translate(0, 0) rotate(-6.5deg);
  }
  60% {
    transform: translate(0, 0) rotate(-3.5deg);
  }
  62% {
    transform: translate(0, 0) rotate(-1.5deg);
  }
  64% {
    transform: translate(0, 0) rotate(3.5deg);
  }
  66% {
    transform: translate(0, 0) rotate(0.5deg);
  }
  68% {
    transform: translate(0, 0) rotate(4.5deg);
  }
  70% {
    transform: translate(0, 0) rotate(1.5deg);
  }
  72% {
    transform: translate(0, 0) rotate(-3.5deg);
  }
  74% {
    transform: translate(0, 0) rotate(-3.5deg);
  }
  76% {
    transform: translate(0, 0) rotate(2.5deg);
  }
  78% {
    transform: translate(0, 0) rotate(-1.5deg);
  }
  80% {
    transform: translate(0, 0) rotate(-5.5deg);
  }
  82% {
    transform: translate(0, 0) rotate(7.5deg);
  }
  84% {
    transform: translate(0, 0) rotate(0.5deg);
  }
  86% {
    transform: translate(0, 0) rotate(5.5deg);
  }
  88% {
    transform: translate(0, 0) rotate(4.5deg);
  }
  90% {
    transform: translate(0, 0) rotate(-2.5deg);
  }
  92% {
    transform: translate(0, 0) rotate(1.5deg);
  }
  94% {
    transform: translate(0, 0) rotate(-5.5deg);
  }
  96% {
    transform: translate(0, 0) rotate(7.5deg);
  }
  98% {
    transform: translate(0, 0) rotate(-3.5deg);
  }
  0%,
  100% {
    transform: translate(0, 0) rotate(0);
  }
}
