@font-face {
  font-family: "Patrick Hand";
  src: url(/fonts/patrickhandregular.ttf);
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url(/fonts/robotoregular.ttf);
  font-display: swap;
}
:root {
  --thumbSize: 25px;
  --themeColor: #ffe001;
  --foreground: #f5ece7;
  --darkground: #585a79;
}
.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--darkground);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: Roboto;
  color: var(--darkground);
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
header {
  background-color: var(--darkground);
  color: var(--foreground);
  display: flex;
  justify-content: center;
  top: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  position: sticky;
  position: -webkit-sticky;
}
.header_nav {
  display: flex;
  justify-content: space-between;
  min-width: 250px;
  width: 100%;
  max-width: 600px;
  align-items: center;
}
.header_contents {
  background-color: var(--foreground);
  color: var(--darkground);
  min-width: 250px;
  max-width: 600px;
  display: flex;
  justify-content: space-between;
}
.greetings {
  flex-grow: 1;
  margin: 0.5em 0 0em 1em;
}
.pwa_access {
  margin: 0.5em 2em 0em 0;
}
.greetings_title {
  font-size: 1.2rem;
  font-weight: lighter;
  margin: 0 0 0.5em;
  font-family: "Patrick Hand", cursive;
}
.greetings__text {
  font-family: "Patrick Hand", cursive;
  font-size: 1rem;
}
.logo {
  margin: 0 1em;
}
.logo_img {
  height: 60px;
  cursor: pointer;
}
.logo_text {
  padding: 0 10px;
}
.installPrompt,
.pushPrompt {
  background-color: var(--darkground);
  color: var(--foreground);
  padding: 5px;
  margin: 0 0 1em;
  cursor: pointer;
  font-size: 0.7rem;
  border-radius: 3px;
}
.installPrompt {
  visibility: hidden;
}
main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--foreground);
  position: relative;
}
.tabs {
  min-width: 250px;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

.update_overlay{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0; left: 0;
  display: none;
  z-index: 5;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.52);
  
}
.overlay_text{
  color: var(--foreground);
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  
  margin-top: 1em;
}
.tab__history,
.tab__info {
  display: none;
}
.tabs__content {
  margin: 0 1em;
}
.days_cards_slider{
  display: flex;
  margin-bottom: 50px;
  overflow-x: auto;
  padding: 10px 0px;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}
.day_card {
  background-color: var(--darkground);
  margin: 0em 0.2em;
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.22);
}

.month_title{
  font-weight: 400;
}
.day_title, .date_number{
  color: var(--foreground);
}
.day_card.current_day{
    background-color: var(--foreground);
    color: var(--darkground);
    transform: scale(1.1) translateY(-10px);
}
.day_card.current_day div{
  color: var(--darkground);
}
.day_img{
  height: 40px;
  animation: shake;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-iteration-count: 0;
}
.tab__info__pseudo_text {
  color: var(--foreground);
  background-color: var(--darkground);
  padding: 1px 6px;
  border-radius: 2px;
  cursor: pointer;
  display: none;
}
.tab__info__pseudo_form {
  display: inline-block;
  width: 30px;
}
.tab__info__pseudo_input {
  border: none;
  outline: 0;
  color: inherit;
  max-width: 50px;
  padding: 5px 6px;
  border-radius: 1px;
  background: #f5ece7;
  box-shadow: inset 2px 2px 3px #cbc4c0, inset -2px -2px 3px #fff;
}
.mood_form {
  min-width: 300px;
  width: 100%;
}
.mood_form .sliders {
  margin: 0 2em;
}
.mood_form__btn {
  width: max-content;
  padding: 10px 40px;
  margin: 0.5em auto;
  border: 2px solid var(--darkground);
  box-sizing: border-box;
  border-radius: 5px;
  color: var(--darkground);
  cursor: pointer;
}
.mood_form__btn:active {
  background-color: var(--darkground);
  color: var(--foreground);
}
label {
  margin-top: 1em;
  font-size: 1em;
  font-weight: 300;
}
.mood_preview {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  background: #f5ece7;
  padding: 5px;
  margin: auto;
  box-shadow: inset 5px 5px 10px #dfd7d2, inset -5px -5px 10px #fffffc;
}
.mood_images {
  width: 110px;
  height: 110px;
  display: grid;
  grid-auto-flow: column;
  gap: 15px;
  margin: 0 auto;
  transition: 0.6s;
}
.mood_image {
  height: 100px;
  border-radius: 5px;
  animation: shake;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 5px;
  background: var(--foreground);
  box-shadow: inset 3px 3px 5px #ddd4d0, inset -3px -3px 5px #fffffe;
  outline: 0;
  margin: 0;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: var(--thumbSize);
  height: var(--thumbSize);
  border-radius: 50%;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  background: var(--foreground);
  cursor: pointer;
  box-shadow: 3px 3px 5px #ddd4d0, -3px -3px 5px #fffffe;
}
.slider::-moz-range-thumb {
  width: var(--thumbSize);
  height: var(--thumbSize);
  border-radius: 50%;
  background: var(--themeColor);
  cursor: pointer;
}
.slider_labels {
  margin: 0.3em 0 0.5em 0.3em;
  padding: 0;
  list-style-type: none;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.nav {
  position: static;
  bottom: 0;
  width: 100%;
  height: 55px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  display: flex;
  overflow-x: auto;
}
div.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  min-width: 50px;
  overflow: hidden;
  white-space: nowrap;
  font-family: sans-serif;
  font-size: 13px;
  color: #444;
  text-decoration: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: background-color 0.1s ease-in-out;
}
div.nav__link:hover {
  background-color: #eee;
}
div.nav__link--active {
  color: #009578;
}
.nav__icon {
  font-size: 18px;
}
@keyframes shake {
  2% {
    transform: translate(0, 0) rotate(0.5deg);
  }
  4% {
    transform: translate(0, 0) rotate(5.5deg);
  }
  6% {
    transform: translate(0, 0) rotate(0.5deg);
  }
  8% {
    transform: translate(0, 0) rotate(-5.5deg);
  }
  10% {
    transform: translate(0, 0) rotate(0.5deg);
  }
  12% {
    transform: translate(0, 0) rotate(2.5deg);
  }
  14% {
    transform: translate(0, 0) rotate(5.5deg);
  }
  16% {
    transform: translate(0, 0) rotate(-5.5deg);
  }
  18% {
    transform: translate(0, 0) rotate(-1.5deg);
  }
  20% {
    transform: translate(0, 0) rotate(4.5deg);
  }
  22% {
    transform: translate(0, 0) rotate(-6.5deg);
  }
  24% {
    transform: translate(0, 0) rotate(1.5deg);
  }
  26% {
    transform: translate(0, 0) rotate(1.5deg);
  }
  28% {
    transform: translate(0, 0) rotate(-4.5deg);
  }
  30% {
    transform: translate(0, 0) rotate(5.5deg);
  }
  32% {
    transform: translate(0, 0) rotate(2.5deg);
  }
  34% {
    transform: translate(0, 0) rotate(3.5deg);
  }
  36% {
    transform: translate(0, 0) rotate(-3.5deg);
  }
  38% {
    transform: translate(0, 0) rotate(-4.5deg);
  }
  40% {
    transform: translate(0, 0) rotate(2.5deg);
  }
  42% {
    transform: translate(0, 0) rotate(0.5deg);
  }
  44% {
    transform: translate(0, 0) rotate(-3.5deg);
  }
  46% {
    transform: translate(0, 0) rotate(-4.5deg);
  }
  48% {
    transform: translate(0, 0) rotate(-1.5deg);
  }
  50% {
    transform: translate(0, 0) rotate(-3.5deg);
  }
  52% {
    transform: translate(0, 0) rotate(-2.5deg);
  }
  54% {
    transform: translate(0, 0) rotate(3.5deg);
  }
  56% {
    transform: translate(0, 0) rotate(0.5deg);
  }
  58% {
    transform: translate(0, 0) rotate(-6.5deg);
  }
  60% {
    transform: translate(0, 0) rotate(-3.5deg);
  }
  62% {
    transform: translate(0, 0) rotate(-1.5deg);
  }
  64% {
    transform: translate(0, 0) rotate(3.5deg);
  }
  66% {
    transform: translate(0, 0) rotate(0.5deg);
  }
  68% {
    transform: translate(0, 0) rotate(4.5deg);
  }
  70% {
    transform: translate(0, 0) rotate(1.5deg);
  }
  72% {
    transform: translate(0, 0) rotate(-3.5deg);
  }
  74% {
    transform: translate(0, 0) rotate(-3.5deg);
  }
  76% {
    transform: translate(0, 0) rotate(2.5deg);
  }
  78% {
    transform: translate(0, 0) rotate(-1.5deg);
  }
  80% {
    transform: translate(0, 0) rotate(-5.5deg);
  }
  82% {
    transform: translate(0, 0) rotate(7.5deg);
  }
  84% {
    transform: translate(0, 0) rotate(0.5deg);
  }
  86% {
    transform: translate(0, 0) rotate(5.5deg);
  }
  88% {
    transform: translate(0, 0) rotate(4.5deg);
  }
  90% {
    transform: translate(0, 0) rotate(-2.5deg);
  }
  92% {
    transform: translate(0, 0) rotate(1.5deg);
  }
  94% {
    transform: translate(0, 0) rotate(-5.5deg);
  }
  96% {
    transform: translate(0, 0) rotate(7.5deg);
  }
  98% {
    transform: translate(0, 0) rotate(-3.5deg);
  }
  0%,
  100% {
    transform: translate(0, 0) rotate(0);
  }
}
