.header {
  background-color: $color_dark;
  color: $color_light;
  top: 0;
  width: 100%;
  box-shadow: 0 1px 3px rgba($color_dark, 0.1);
  position: sticky;
  position: -webkit-sticky;
  padding: 1em;

  &__banner {
    width: 100%;
    &__logo {
      padding: 0.2em;
      &__image{
        width: 3em;
        cursor: pointer;
      }
      &__brand{
        font-size: 1em;
        font-weight: $font_light;
        font-family: $font_headings;
      }
    }
    &__date{
      padding: 0 10px;
    }
  }
}





