.header {
  background-color: $color_dark;
  color: $color_light;
  top: 0;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  position: sticky;
  position: -webkit-sticky;
  &__banner {
    // display: flex;
    // justify-content: space-between;
    // min-width: 250px;
    // width: 100%;
    // max-width: 600px;
    // align-items: center;
    &__logo {
      // margin: 0 1em;
      padding: 0.3em;

      // width: max-content;

      &__image{
        box-sizing: border-box;
        width: 3em;
        cursor: pointer;
      }
      &__brand{
        font-size: 1rem;
        font-weight: $font_light;
        font-family: $font_headings;
      }
    }
    &__date{
      padding: 0 10px;
    }
  }
}





