.main {
  flex-grow: 1;
  position: relative;
  padding: 0em 2em;
  border-right: 0.4em solid $color_dark;
  border-left: 0.4em solid $color_dark;
  @include breakpoint-up($size_desktop) {
    // border-left: none;
    border-bottom: 0.4em solid $color_dark;
  border-right: 0.4em solid $color_dark;

  }
  .tabs {
    width: 100%;
    padding-top: 0.5em;
    &__content {
      width: 100%;
      margin: auto;
    }
  }
  .tab-secondary {
    display: none;
  }
  .tab__today {
    &__overlay {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      display: none;
      z-index: 5;
      backdrop-filter: blur(5px);
      background-color: rgba($color_dark, 0.5);
      .quote {
        top: 50%;
        left: 50%;
        background-color: $color_light;
        color: $color_dark;
        width: max-content;
        max-width: 90vw;
        transform: translate(-50%, -50%);
        border-radius: 3px;
        position: relative;
        padding: 0.5em;
        &__headings {
          display: block;
          margin: auto;
          background-color: $color_dark;
          color: $color_light;
          width: max-content;
          padding: 0.1em 0.3em;
        }
        &__citation {
          font-family: $font_headings;
        }
        &__author {
          font-size: 0.8rem;
          font-style: italic;
          opacity: 0.8;
          width: 100%;
          margin-left: 1em;
          text-align: center;
        }
        &__close {
          position: absolute;
          top: 0.5em;
          right: 1em;
          /* background-color: var(--darkground); */
          border-radius: 5px;
          color: $color_light;
          height: 22px;
          width: 22px;
          opacity: 0.7;
          cursor: pointer;
          &::before,
          &::after {
            position: absolute;
            left: 15px;
            content: " ";
            height: 23px;
            width: 2px;
            background-color: #333;
          }
          &::before {
            transform: rotate(45deg);
          }
          &::after {
            transform: rotate(-45deg);
          }
        }
      }
    }
    &__greetings {
      .greetings {
        &__title {
          font-size: 1rem;
          font-weight: lighter;
          margin: 0 0 0.5em;
          font-family: $font_headings;

          // &__pseudo{

          // }
        }
        &__text {
          font-family: $font_headings;
          font-size: 1rem;
          display: none;
        }
      }
      
    }
    .mood__preview {
      width: 5em;
      height: 5em;
      border-radius: 50%;
      overflow: hidden;
      position: relative;
      background: #f5ece7;
      padding: 0.5em;
      margin: auto;
      box-shadow: inset 5px 5px 10px #dfd7d2, inset -5px -5px 10px #fffffc;
      &__images {
        width: 5em;
        height: 5em;
        display: grid;
        grid-auto-flow: column;
        gap: 1em;
        margin: 0 auto;
        transition: 0.6s;
        .mood__image {
          width: 4em;
          height: 4em;
          border-radius: 5px;
          animation: shake;
          animation-duration: 0.5s;
          animation-timing-function: ease;
          animation-iteration-count: 1;
        }
      }
    }
    .mood__form {
      .sliders {
        &__question {
          margin-top: 1em;
          font-size: 1em;
          font-weight: 300;
        }
        &__input {
          -webkit-appearance: none;
          width: 100%;
          height: 0.5em;
          border-radius: 5px;
          background: $color_light;
          box-shadow: inset 3px 3px 5px #ddd4d0, inset -3px -3px 5px #fffffe;
          outline: 0;
          margin: 0;
          cursor: pointer;
          &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: $size_thumb;
            height: $size_thumb;
            border-radius: 50%;
            box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
            outline: none;
            background: $color_light;
            cursor: pointer;
            box-shadow: 3px 3px 5px #ddd4d0, -3px -3px 5px #fffffe;
          }
          &::-moz-range-thumb {
            width: $size_thumb;
            height: $size_thumb;
            border-radius: 50%;
            background: $color_light;
            box-shadow: inset 3px 3px 5px #ddd4d0, inset -3px -3px 5px #fffffe;
            outline: 0;
            margin: 0;
          }
        }
        &__numbers {
          margin: 0.1em 0 0.1em 0.3em;
          padding: 0;
          list-style-type: none;
          width: 100%;
        }
        &__labels {
          color: rgba($color_dark, 0.9);
          font-size: 0.9em;
          padding: 0;
          margin-bottom: 2em;
          width: 100%;
        }
      }
      &__button {
        display: block;
        border-radius: 0.3em;
        margin: 1em auto 0;
        padding: 0.8em 2em;
        font-size: 0.8em;
      }
    }
  }
  .tab__history {
    &__contents {
      
      .month_history {
        .month_title {
          font-weight: 400;
        }
        .days_cards_slider {
          display: flex;
          margin-bottom: 1em;
          overflow-x: auto;
          padding: 1em 0em;
          width: 100%;
          -webkit-overflow-scrolling: touch;
          .day_card {
            background-color: $color_light;
            color: $color_dark;
            margin: 0em 0.2em;
            padding: 0.2em 0.5em;
            border-radius: 0.3em;
            text-align: center;
            box-shadow: 2px 3px 6px 0px rgba(0, 0, 0, 0.3);
            &.current_day{
                  background-color: $color_dark;
                  color: $color_light;
                  transform: translateY(-0.5em);
                }
            .day_title,
            .date_number {
              color: inherit;

            }
            .day_face {
              .day_img {
                height: 2em;
                animation: shake;
                animation-duration: 0.5s;
                animation-timing-function: ease;
                animation-iteration-count: 0;
              }
            }
          }
        }
      }
      .chartContainer{
        height: 50vh;
      }
    }
  }
  .tab__info {
    &__pseudo_text, .highlighted {
      color: $color_light;
      background-color: $color_dark;
      padding: 1px 6px;
      border-radius: 0.2em;
      cursor: pointer;
      display: none;
      text-decoration: underline;
    }
    &__pseudo_form {
      display: inline-block;
      width: 2em;
    }
    
    &__pseudo_input {
      border: none;
      outline: 0;
      color: inherit;
      max-width: 50px;
      padding: 5px 6px;
      border-radius: 1px;
      background: #f5ece7;
      box-shadow: inset 2px 2px 3px #cbc4c0, inset -2px -2px 3px #fff;
    }
    .pwa_access {
      &__button {
        // background-color: $color_dark;
        // color: $color_light;
        // padding: 5px;
        // margin: 0 0 1em;
        text-decoration: none;
        cursor: pointer;
        // display: none;
        font-size: 0.8em;
        // border-radius: 3px;
      }
      .install_prompt, .push_prompt{
        padding: 0.4em 1em;
      }
    }
    .copyright__link{
      display: inline-block;
      text-decoration: none;
      font-weight: lighter;
    }
  
  }
}





  