.navigation {
  position: static;
  bottom: 0;
  width: 100%;
  height: 4em;
  display: flex;
  overflow-x: auto;
  @include breakpoint-up($size_desktop) {
    position: absolute;
    flex-direction: column;
    height: 15em;
    max-width: 4em;
    left: 0.4em;
    top: 10vh;
    padding: 0;
    gap: 0.1em 0em;

  }
  .nav__link {
    background-color: $color_dark;
    
    flex-grow: 1;
    min-width: 4em;
    overflow: hidden;
    white-space: nowrap;
    font-size: 0.8em;
    color: $color_light;
    fill: $color_light;
    text-decoration: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: all 0.3s ease-in-out;
    @include breakpoint-up($size_desktop) {
      transform: translateX(-70%);
      border-radius: 0 0.3em 0.3em 0;
    }
  }
  div.nav__link:hover {
    // background-color: $color_light;
    color: $color_primary;
    fill: $color_primary;
    // transform: translateX(0%);
    @include breakpoint-up($size_desktop) {
      transform: translateX(0%);
    }
  }
  div.nav__link--active {
    fill: $color_primary;
    color: lighten($color: $color_primary, $amount: 30);

    @include breakpoint-up($size_desktop) {
      transform: translateX(0%);
    }
  }
  .nav__text {
    font-size: 1em;
    // font-weight: bold;
  }
}

@keyframes shake {
  2% {
    transform: translate(0, 0) rotate(0.5deg);
  }

  10% {
    transform: translate(0, 0) rotate(0.5deg);
  }

  30% {
    transform: translate(0, 0) rotate(5.5deg);
  }

  50% {
    transform: translate(0, 0) rotate(-3.5deg);
  }

  70% {
    transform: translate(0, 0) rotate(1.5deg);
  }

  90% {
    transform: translate(0, 0) rotate(-2.5deg);
  }

  0%,
  100% {
    transform: translate(0, 0) rotate(0);
  }
}
