@font-face {
    font-family: "Patrick Hand";
    src: url(../fonts/patrick.ttf);
    font-display: swap;
  }
  @font-face {
    font-family: "Roboto";
    src: url(../fonts/roboto.ttf);
    font-display: swap;
  }
  @font-face {
    font-family: "VT323";
    src: url(../fonts/VT323-Regular.ttf);
    font-display: swap;
  }
  @font-face {
    font-family: "PTSans";
    src: url(../fonts/PTSans-Regular.ttf);
    font-display: swap;
  }

$color_dark: #585a79;
$color_light: #f5ece7;
$color_dark: #f5ece7;
$color_light: #585a79;
$color_primary: #DD9534;

// $font_headings: VT323, cursive;
// $font_body: PTSans, sans-serif;
$font_headings: PTSans, sans-serif;
$font_body: VT323, cursive;
// $font_headings: serif;
// $font_body: PTSans, sans-serif;

$size_thumb: 1.6em;

$font_light : lighter;
// $font_regular : 300;
$font_bold : bold;

$size_mobile_small: 320px;
$size_mobile: 375px;
$size_tablet: 768px;
$size_desktop: 1024px;
