$color_dark: #585a79;
$color_light: #f5ece7;
$color_primary: #148FE8;

$font_headings: sans-serif;
$font_body: Roboto, sans-serif;

$font_light : 100;
$font_regular : 300;
$font_bold : 500;
$size_mobile: 320px;
$size_tablet: 768px;
$size_desktop: 1024px;
