@import "mixins";
@import "variables";
@import "globals";
@import "header";
@import "main";
@import "navigation";


.container__section {
  margin: auto;
  width: 100%;


  // @include breakpoint-up($size_mobile) {
  //   max-width: $size_tablet;
  // }
  // @include breakpoint-up($size_tablet) {
  //   max-width: $size_desktop;
  // }
  // @include breakpoint-up($size_desktop) {
  //   max-width: $size_desktop;
  // }
}

.container {
    min-height: 100vh;
    width: 100%;

    // display: flex;
    // flex-direction: column;
    // background-color: #fff;
  }

  body {
    background-color: $color_light;
    display: flex;
    align-items: center;
    justify-content: center;
    
    // box-sizing: border-box;
    min-height: 100vh;
    font-family: $font_headings;
    color: $color_dark;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
  }

.tabs, .header__banner{
  @include breakpoint-up($size_mobile) {
    max-width: $size_tablet;
  }
  @include breakpoint-up($size_tablet) {
    max-width: $size_tablet;
  }
  @include breakpoint-up($size_desktop) {
    max-width: $size_tablet;
  }
}