@font-face {
  font-family: "Patrick Hand";
  src: url(../fonts/patrick.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/roboto.ttf);
  font-display: swap;
}

@media screen and (min-width: 320px) {
  :root {
    font-size: 13px;
  }
}

@media screen and (min-width: 375px) {
  :root {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  :root {
    font-size: 18px;
  }
}

@media screen and (min-width: 1024px) {
  :root {
    font-size: 22px;
  }
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.4;
  width: 100vw;
  overflow: hidden;
  min-height: 100vh;
  color: #f5ece7;
  background-color: #585a79;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-d-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

button {
  border: none;
}

ul {
  padding: 0;
  list-style-type: none;
}

button, .button {
  font-family: "Patrick Hand", cursive;
  position: relative;
  display: inline-block;
  padding: 0.8rem 2rem;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  background-color: #585a79;
  color: #f5ece7;
  font-weight: 400;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
  overflow: hidden;
}

button::before, .button::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.25);
  opacity: 0;
  -webkit-transition: opacity 150ms ease-in-out;
  transition: opacity 150ms ease-in-out;
}

button:hover::before, .button:hover::before {
  opacity: 1;
}

@media screen and (max-width: 375px) {
  .hide-for-mobile {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  .hide-for-mobile-small {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .hide-for-desktop {
    display: none;
  }
}

.header {
  background-color: #585a79;
  color: #f5ece7;
  top: 0;
  width: 100%;
  -webkit-box-shadow: 0 1px 3px rgba(88, 90, 121, 0.1);
          box-shadow: 0 1px 3px rgba(88, 90, 121, 0.1);
  position: sticky;
  position: -webkit-sticky;
  padding: 0em 1em;
}

.header__banner {
  width: 100%;
}

.header__banner__logo {
  padding: 0.2em;
}

.header__banner__logo__image {
  width: 3em;
  cursor: pointer;
}

.header__banner__logo__brand {
  font-size: 1em;
  font-weight: lighter;
  font-family: "Patrick Hand", cursive;
}

.header__banner__date {
  padding: 0 10px;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
  padding: 0em 2em;
  border-right: 0.4em solid #585a79;
  border-left: 0.4em solid #585a79;
}

@media screen and (min-width: 1024px) {
  .main {
    border-bottom: 0.4em solid #585a79;
    border-right: 0.4em solid #585a79;
  }
}

.main .tabs {
  width: 100%;
  padding-top: 0.5em;
}

.main .tabs__content {
  width: 100%;
  margin: auto;
}

.main .tab-secondary {
  display: none;
}

.main .tab__today__overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: none;
  z-index: 5;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-color: rgba(88, 90, 121, 0.5);
}

.main .tab__today__overlay .quote {
  top: 50%;
  left: 50%;
  background-color: #f5ece7;
  color: #585a79;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 90vw;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 3px;
  position: relative;
  padding: 0.5em;
}

.main .tab__today__overlay .quote__headings {
  display: block;
  margin: auto;
  background-color: #585a79;
  color: #f5ece7;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0.1em 0.3em;
}

.main .tab__today__overlay .quote__citation {
  font-family: "Patrick Hand", cursive;
}

.main .tab__today__overlay .quote__author {
  font-size: 0.8rem;
  font-style: italic;
  opacity: 0.8;
  width: 100%;
  margin-left: 1em;
  text-align: center;
}

.main .tab__today__overlay .quote__close {
  position: absolute;
  top: 0.5em;
  right: 1em;
  border-radius: 5px;
  color: #f5ece7;
  height: 22px;
  width: 22px;
  opacity: 0.7;
  cursor: pointer;
}

.main .tab__today__overlay .quote__close::before, .main .tab__today__overlay .quote__close::after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 23px;
  width: 2px;
  background-color: #333;
}

.main .tab__today__overlay .quote__close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.main .tab__today__overlay .quote__close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.main .tab__today__greetings .greetings__title {
  font-size: 1rem;
  font-weight: lighter;
  margin: 0 0 0.5em;
  font-family: "Patrick Hand", cursive;
}

.main .tab__today__greetings .greetings__text {
  font-family: "Patrick Hand", cursive;
  font-size: 1rem;
  display: none;
}

.main .tab__today .mood__preview {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  background: #f5ece7;
  padding: 0.5em;
  margin: auto;
  -webkit-box-shadow: inset 5px 5px 10px #dfd7d2, inset -5px -5px 10px #fffffc;
          box-shadow: inset 5px 5px 10px #dfd7d2, inset -5px -5px 10px #fffffc;
}

.main .tab__today .mood__preview__images {
  width: 5em;
  height: 5em;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  gap: 1em;
  margin: 0 auto;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.main .tab__today .mood__preview__images .mood__image {
  width: 4em;
  height: 4em;
  border-radius: 5px;
  -webkit-animation: shake;
          animation: shake;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.main .tab__today .mood__form .sliders__question {
  margin-top: 1em;
  font-size: 1em;
  font-weight: 300;
}

.main .tab__today .mood__form .sliders__input {
  -webkit-appearance: none;
  width: 100%;
  height: 0.5em;
  border-radius: 5px;
  background: #f5ece7;
  -webkit-box-shadow: inset 3px 3px 5px #ddd4d0, inset -3px -3px 5px #fffffe;
          box-shadow: inset 3px 3px 5px #ddd4d0, inset -3px -3px 5px #fffffe;
  outline: 0;
  margin: 0;
  cursor: pointer;
}

.main .tab__today .mood__form .sliders__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
  outline: none;
  background: #f5ece7;
  cursor: pointer;
  -webkit-box-shadow: 3px 3px 5px #ddd4d0, -3px -3px 5px #fffffe;
          box-shadow: 3px 3px 5px #ddd4d0, -3px -3px 5px #fffffe;
}

.main .tab__today .mood__form .sliders__input::-moz-range-thumb {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background: #f5ece7;
  box-shadow: inset 3px 3px 5px #ddd4d0, inset -3px -3px 5px #fffffe;
  outline: 0;
  margin: 0;
}

.main .tab__today .mood__form .sliders__numbers {
  margin: 0.1em 0 0.1em 0.3em;
  padding: 0;
  list-style-type: none;
  width: 100%;
}

.main .tab__today .mood__form .sliders__labels {
  color: rgba(88, 90, 121, 0.9);
  font-size: 0.9em;
  padding: 0;
  margin-bottom: 2em;
  width: 100%;
}

.main .tab__today .mood__form__button {
  display: block;
  border-radius: 0.3em;
  margin: 1em auto 0;
  padding: 0.8em 2em;
  font-size: 0.8em;
}

.main .tab__history__contents .month_history .month_title {
  font-weight: 400;
}

.main .tab__history__contents .month_history .days_cards_slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1em;
  overflow-x: auto;
  padding: 1em 0em;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}

.main .tab__history__contents .month_history .days_cards_slider .day_card {
  background-color: #f5ece7;
  color: #585a79;
  margin: 0em 0.2em;
  padding: 0.2em 0.5em;
  border-radius: 0.3em;
  text-align: center;
  -webkit-box-shadow: 2px 3px 6px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 3px 6px 0px rgba(0, 0, 0, 0.3);
}

.main .tab__history__contents .month_history .days_cards_slider .day_card.current_day {
  background-color: #585a79;
  color: #f5ece7;
  -webkit-transform: translateY(-0.5em);
          transform: translateY(-0.5em);
}

.main .tab__history__contents .month_history .days_cards_slider .day_card .day_title,
.main .tab__history__contents .month_history .days_cards_slider .day_card .date_number {
  color: inherit;
}

.main .tab__history__contents .month_history .days_cards_slider .day_card .day_face .day_img {
  height: 2em;
  -webkit-animation: shake;
          animation: shake;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: 0;
          animation-iteration-count: 0;
}

.main .tab__history__contents .chartContainer {
  height: 50vh;
}

.main .tab__info__pseudo_text, .main .tab__info .highlighted {
  color: #f5ece7;
  background-color: #585a79;
  padding: 1px 6px;
  border-radius: 0.2em;
  cursor: pointer;
  display: none;
  text-decoration: underline;
}

.main .tab__info__pseudo_form {
  display: inline-block;
  width: 2em;
}

.main .tab__info__pseudo_input {
  border: none;
  outline: 0;
  color: inherit;
  font-size: 1em;
  max-width: 4em;
  padding: 5px 6px;
  border-radius: 1px;
  background: #f5ece7;
  -webkit-box-shadow: inset 2px 2px 3px #cbc4c0, inset -2px -2px 3px #fff;
          box-shadow: inset 2px 2px 3px #cbc4c0, inset -2px -2px 3px #fff;
}

.main .tab__info .pwa_access__button {
  text-decoration: none;
  cursor: pointer;
  font-size: 0.8em;
}

.main .tab__info .pwa_access .install_prompt, .main .tab__info .pwa_access .push_prompt {
  padding: 0.4em 1em;
}

.main .tab__info .copyright__link {
  display: inline-block;
  text-decoration: none;
  font-weight: lighter;
}

.navigation {
  position: static;
  bottom: 0;
  width: 100%;
  height: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
}

@media screen and (min-width: 1024px) {
  .navigation {
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 15em;
    max-width: 4em;
    left: 0.4em;
    top: 10vh;
    padding: 0;
    gap: 0.1em 0em;
  }
}

.navigation .nav__link {
  background-color: #585a79;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-width: 4em;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0.8em;
  color: #f5ece7;
  fill: #f5ece7;
  text-decoration: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 1024px) {
  .navigation .nav__link {
    -webkit-transform: translateX(-70%);
            transform: translateX(-70%);
    border-radius: 0 0.3em 0.3em 0;
  }
}

.navigation div.nav__link:hover {
  color: #DD9534;
  fill: #DD9534;
}

@media screen and (min-width: 1024px) {
  .navigation div.nav__link:hover {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

.navigation div.nav__link--active {
  fill: #DD9534;
  color: #f3d9b7;
}

@media screen and (min-width: 1024px) {
  .navigation div.nav__link--active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

.navigation .nav__text {
  font-size: 1em;
}

@-webkit-keyframes shake {
  2% {
    -webkit-transform: translate(0, 0) rotate(0.5deg);
            transform: translate(0, 0) rotate(0.5deg);
  }
  10% {
    -webkit-transform: translate(0, 0) rotate(0.5deg);
            transform: translate(0, 0) rotate(0.5deg);
  }
  30% {
    -webkit-transform: translate(0, 0) rotate(5.5deg);
            transform: translate(0, 0) rotate(5.5deg);
  }
  50% {
    -webkit-transform: translate(0, 0) rotate(-3.5deg);
            transform: translate(0, 0) rotate(-3.5deg);
  }
  70% {
    -webkit-transform: translate(0, 0) rotate(1.5deg);
            transform: translate(0, 0) rotate(1.5deg);
  }
  90% {
    -webkit-transform: translate(0, 0) rotate(-2.5deg);
            transform: translate(0, 0) rotate(-2.5deg);
  }
  0%,
  100% {
    -webkit-transform: translate(0, 0) rotate(0);
            transform: translate(0, 0) rotate(0);
  }
}

@keyframes shake {
  2% {
    -webkit-transform: translate(0, 0) rotate(0.5deg);
            transform: translate(0, 0) rotate(0.5deg);
  }
  10% {
    -webkit-transform: translate(0, 0) rotate(0.5deg);
            transform: translate(0, 0) rotate(0.5deg);
  }
  30% {
    -webkit-transform: translate(0, 0) rotate(5.5deg);
            transform: translate(0, 0) rotate(5.5deg);
  }
  50% {
    -webkit-transform: translate(0, 0) rotate(-3.5deg);
            transform: translate(0, 0) rotate(-3.5deg);
  }
  70% {
    -webkit-transform: translate(0, 0) rotate(1.5deg);
            transform: translate(0, 0) rotate(1.5deg);
  }
  90% {
    -webkit-transform: translate(0, 0) rotate(-2.5deg);
            transform: translate(0, 0) rotate(-2.5deg);
  }
  0%,
  100% {
    -webkit-transform: translate(0, 0) rotate(0);
            transform: translate(0, 0) rotate(0);
  }
}

.container__section {
  margin: auto;
  width: 100%;
}

.container {
  min-height: 100vh;
  width: 100%;
  background-color: #f5ece7;
}

body {
  background-color: #585a79;
  min-height: 100vh;
  font-family: "Patrick Hand", cursive;
  color: #585a79;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

@media screen and (min-width: 375px) {
  .tabs, .header__banner {
    max-width: 768px;
  }
}

@media screen and (min-width: 768px) {
  .tabs, .header__banner {
    max-width: 768px;
  }
}

@media screen and (min-width: 1024px) {
  .tabs, .header__banner {
    max-width: 768px;
  }
}
/*# sourceMappingURL=style.css.map */