@import "mixins";
@import "variables";
@import "globals";
@import "header";
@import "main";
@import "navigation";


.container__section {
  margin: auto;
  width: 100%;
}

.container {
    min-height: 100vh;
    width: 100%;
  }

  body {
    background-color: $color_light;
    min-height: 100vh;
    font-family: $font_headings;
    color: $color_dark;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
  }

.tabs, .header__banner{
  @include breakpoint-up($size_mobile) {
    max-width: $size_tablet;
  }
  @include breakpoint-up($size_tablet) {
    max-width: $size_tablet;
  }
  @include breakpoint-up($size_desktop) {
    max-width: $size_tablet;
  }
}