@font-face {
  font-family: "Patrick Hand";
  src: url(../fonts/patrick.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/roboto.ttf);
  font-display: swap;
}

@media screen and (min-width: 320px) {
  :root {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  :root {
    font-size: 18px;
  }
}

@media screen and (min-width: 1024px) {
  :root {
    font-size: 22px;
  }
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.4;
  width: 100vw;
  overflow: hidden;
  min-height: 100vh;
  font-family: Roboto, sans-serif;
  color: #f5ece7;
  background-color: #585a79;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-d-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

button {
  border: none;
}

ul {
  padding: 0;
  list-style-type: none;
}

.header {
  background-color: #585a79;
  color: #f5ece7;
  top: 0;
  width: 100%;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  position: sticky;
  position: -webkit-sticky;
}

.header__banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 250px;
  width: 100%;
  max-width: 600px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__banner__logo {
  margin: 0 1em;
}

.header__banner__logo__image {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.3em;
  height: 3em;
  cursor: pointer;
}

.header__banner__date {
  padding: 0 10px;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
}

.main .tabs {
  width: 100%;
}

.main .tab-secondary {
  display: none;
}

.main .tab__today__overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: none;
  z-index: 5;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.52);
}

.main .tab__today__overlay .quote {
  top: 50%;
  left: 50%;
  background-color: var(--foreground);
  color: var(--darkground);
  width: 100%;
  max-width: 80vw;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 3px;
  position: relative;
  padding: 0.5em;
}

.main .tab__today__overlay .quote__text {
  display: block;
}

.main .tab__today__overlay .quote__author {
  font-size: 0.8rem;
  opacity: 0.8;
  width: 100%;
  text-align: right;
}

.main .tab__today__overlay .quote__close {
  position: absolute;
  top: 20px;
  right: 20px;
  /* background-color: var(--darkground); */
  border-radius: 5px;
  color: var(--foreground);
  height: 22px;
  width: 22px;
  opacity: 0.7;
  cursor: pointer;
}

.main .tab__today__overlay .quote__close::before, .main .tab__today__overlay .quote__close::after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 23px;
  width: 2px;
  background-color: #333;
}

.main .tab__today__overlay .quote__close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.main .tab__today__overlay .quote__close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.main .tab__today__greetings .greetings__title {
  font-size: 1.2rem;
  font-weight: lighter;
  margin: 0 0 0.5em;
  font-family: "Patrick Hand", cursive;
}

.main .tab__today__greetings .greetings__text {
  font-family: "Patrick Hand", cursive;
  font-size: 1rem;
  display: none;
}

.main .tab__today__greetings .pwa_access__button {
  background-color: #585a79;
  color: #f5ece7;
  padding: 5px;
  margin: 0 0 1em;
  text-decoration: none;
  cursor: pointer;
  display: none;
  font-size: 0.7rem;
  border-radius: 3px;
}

.main .tab__today .mood__preview {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  background: #f5ece7;
  padding: 5px;
  margin: auto;
  -webkit-box-shadow: inset 5px 5px 10px #dfd7d2, inset -5px -5px 10px #fffffc;
          box-shadow: inset 5px 5px 10px #dfd7d2, inset -5px -5px 10px #fffffc;
}

.main .tab__today .mood__preview__images {
  width: 5em;
  height: 5em;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  gap: 15px;
  margin: 0 auto;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.main .tab__today .mood__preview__images .mood__image {
  height: 4em;
  border-radius: 5px;
  -webkit-animation: shake;
          animation: shake;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.main .tab__today .mood__form {
  padding: 0em 1em;
}

.main .tab__today .mood__form .sliders__question {
  margin-top: 1em;
  font-size: 1em;
  font-weight: 300;
}

.main .tab__today .mood__form .sliders__input {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 5px;
  background: #f5ece7;
  -webkit-box-shadow: inset 3px 3px 5px #ddd4d0, inset -3px -3px 5px #fffffe;
          box-shadow: inset 3px 3px 5px #ddd4d0, inset -3px -3px 5px #fffffe;
  outline: 0;
  margin: 0;
  cursor: pointer;
}

.main .tab__today .mood__form .sliders__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  outline: none;
  background: #f5ece7;
  cursor: pointer;
  -webkit-box-shadow: 3px 3px 5px #ddd4d0, -3px -3px 5px #fffffe;
          box-shadow: 3px 3px 5px #ddd4d0, -3px -3px 5px #fffffe;
}

.main .tab__today .mood__form .sliders__input::-moz-range-thumb {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background: #f5ece7;
  box-shadow: inset 3px 3px 5px #ddd4d0, inset -3px -3px 5px #fffffe;
  outline: 0;
  margin: 0;
}

.main .tab__today .mood__form .sliders__numbers {
  padding: 0;
  list-style-type: none;
  width: 100%;
}

.header_contents {
  background-color: var(--foreground);
  color: var(--darkground);
  min-width: 250px;
  max-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav {
  position: static;
  bottom: 0;
  width: 100%;
  height: 55px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
}

div.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-width: 50px;
  overflow: hidden;
  white-space: nowrap;
  font-family: sans-serif;
  font-size: 13px;
  color: #444444;
  text-decoration: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: background-color 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out;
}

div.nav__link:hover {
  background-color: #eee;
}

div.nav__link--active {
  color: #009578;
}

.nav__icon {
  font-size: 18px;
}

@-webkit-keyframes shake {
  2% {
    -webkit-transform: translate(0, 0) rotate(0.5deg);
            transform: translate(0, 0) rotate(0.5deg);
  }
  4% {
    -webkit-transform: translate(0, 0) rotate(5.5deg);
            transform: translate(0, 0) rotate(5.5deg);
  }
  6% {
    -webkit-transform: translate(0, 0) rotate(0.5deg);
            transform: translate(0, 0) rotate(0.5deg);
  }
  8% {
    -webkit-transform: translate(0, 0) rotate(-5.5deg);
            transform: translate(0, 0) rotate(-5.5deg);
  }
  10% {
    -webkit-transform: translate(0, 0) rotate(0.5deg);
            transform: translate(0, 0) rotate(0.5deg);
  }
  12% {
    -webkit-transform: translate(0, 0) rotate(2.5deg);
            transform: translate(0, 0) rotate(2.5deg);
  }
  14% {
    -webkit-transform: translate(0, 0) rotate(5.5deg);
            transform: translate(0, 0) rotate(5.5deg);
  }
  16% {
    -webkit-transform: translate(0, 0) rotate(-5.5deg);
            transform: translate(0, 0) rotate(-5.5deg);
  }
  18% {
    -webkit-transform: translate(0, 0) rotate(-1.5deg);
            transform: translate(0, 0) rotate(-1.5deg);
  }
  20% {
    -webkit-transform: translate(0, 0) rotate(4.5deg);
            transform: translate(0, 0) rotate(4.5deg);
  }
  22% {
    -webkit-transform: translate(0, 0) rotate(-6.5deg);
            transform: translate(0, 0) rotate(-6.5deg);
  }
  24% {
    -webkit-transform: translate(0, 0) rotate(1.5deg);
            transform: translate(0, 0) rotate(1.5deg);
  }
  26% {
    -webkit-transform: translate(0, 0) rotate(1.5deg);
            transform: translate(0, 0) rotate(1.5deg);
  }
  28% {
    -webkit-transform: translate(0, 0) rotate(-4.5deg);
            transform: translate(0, 0) rotate(-4.5deg);
  }
  30% {
    -webkit-transform: translate(0, 0) rotate(5.5deg);
            transform: translate(0, 0) rotate(5.5deg);
  }
  32% {
    -webkit-transform: translate(0, 0) rotate(2.5deg);
            transform: translate(0, 0) rotate(2.5deg);
  }
  34% {
    -webkit-transform: translate(0, 0) rotate(3.5deg);
            transform: translate(0, 0) rotate(3.5deg);
  }
  36% {
    -webkit-transform: translate(0, 0) rotate(-3.5deg);
            transform: translate(0, 0) rotate(-3.5deg);
  }
  38% {
    -webkit-transform: translate(0, 0) rotate(-4.5deg);
            transform: translate(0, 0) rotate(-4.5deg);
  }
  40% {
    -webkit-transform: translate(0, 0) rotate(2.5deg);
            transform: translate(0, 0) rotate(2.5deg);
  }
  42% {
    -webkit-transform: translate(0, 0) rotate(0.5deg);
            transform: translate(0, 0) rotate(0.5deg);
  }
  44% {
    -webkit-transform: translate(0, 0) rotate(-3.5deg);
            transform: translate(0, 0) rotate(-3.5deg);
  }
  46% {
    -webkit-transform: translate(0, 0) rotate(-4.5deg);
            transform: translate(0, 0) rotate(-4.5deg);
  }
  48% {
    -webkit-transform: translate(0, 0) rotate(-1.5deg);
            transform: translate(0, 0) rotate(-1.5deg);
  }
  50% {
    -webkit-transform: translate(0, 0) rotate(-3.5deg);
            transform: translate(0, 0) rotate(-3.5deg);
  }
  52% {
    -webkit-transform: translate(0, 0) rotate(-2.5deg);
            transform: translate(0, 0) rotate(-2.5deg);
  }
  54% {
    -webkit-transform: translate(0, 0) rotate(3.5deg);
            transform: translate(0, 0) rotate(3.5deg);
  }
  56% {
    -webkit-transform: translate(0, 0) rotate(0.5deg);
            transform: translate(0, 0) rotate(0.5deg);
  }
  58% {
    -webkit-transform: translate(0, 0) rotate(-6.5deg);
            transform: translate(0, 0) rotate(-6.5deg);
  }
  60% {
    -webkit-transform: translate(0, 0) rotate(-3.5deg);
            transform: translate(0, 0) rotate(-3.5deg);
  }
  62% {
    -webkit-transform: translate(0, 0) rotate(-1.5deg);
            transform: translate(0, 0) rotate(-1.5deg);
  }
  64% {
    -webkit-transform: translate(0, 0) rotate(3.5deg);
            transform: translate(0, 0) rotate(3.5deg);
  }
  66% {
    -webkit-transform: translate(0, 0) rotate(0.5deg);
            transform: translate(0, 0) rotate(0.5deg);
  }
  68% {
    -webkit-transform: translate(0, 0) rotate(4.5deg);
            transform: translate(0, 0) rotate(4.5deg);
  }
  70% {
    -webkit-transform: translate(0, 0) rotate(1.5deg);
            transform: translate(0, 0) rotate(1.5deg);
  }
  72% {
    -webkit-transform: translate(0, 0) rotate(-3.5deg);
            transform: translate(0, 0) rotate(-3.5deg);
  }
  74% {
    -webkit-transform: translate(0, 0) rotate(-3.5deg);
            transform: translate(0, 0) rotate(-3.5deg);
  }
  76% {
    -webkit-transform: translate(0, 0) rotate(2.5deg);
            transform: translate(0, 0) rotate(2.5deg);
  }
  78% {
    -webkit-transform: translate(0, 0) rotate(-1.5deg);
            transform: translate(0, 0) rotate(-1.5deg);
  }
  80% {
    -webkit-transform: translate(0, 0) rotate(-5.5deg);
            transform: translate(0, 0) rotate(-5.5deg);
  }
  82% {
    -webkit-transform: translate(0, 0) rotate(7.5deg);
            transform: translate(0, 0) rotate(7.5deg);
  }
  84% {
    -webkit-transform: translate(0, 0) rotate(0.5deg);
            transform: translate(0, 0) rotate(0.5deg);
  }
  86% {
    -webkit-transform: translate(0, 0) rotate(5.5deg);
            transform: translate(0, 0) rotate(5.5deg);
  }
  88% {
    -webkit-transform: translate(0, 0) rotate(4.5deg);
            transform: translate(0, 0) rotate(4.5deg);
  }
  90% {
    -webkit-transform: translate(0, 0) rotate(-2.5deg);
            transform: translate(0, 0) rotate(-2.5deg);
  }
  92% {
    -webkit-transform: translate(0, 0) rotate(1.5deg);
            transform: translate(0, 0) rotate(1.5deg);
  }
  94% {
    -webkit-transform: translate(0, 0) rotate(-5.5deg);
            transform: translate(0, 0) rotate(-5.5deg);
  }
  96% {
    -webkit-transform: translate(0, 0) rotate(7.5deg);
            transform: translate(0, 0) rotate(7.5deg);
  }
  98% {
    -webkit-transform: translate(0, 0) rotate(-3.5deg);
            transform: translate(0, 0) rotate(-3.5deg);
  }
  0%,
  100% {
    -webkit-transform: translate(0, 0) rotate(0);
            transform: translate(0, 0) rotate(0);
  }
}

@keyframes shake {
  2% {
    -webkit-transform: translate(0, 0) rotate(0.5deg);
            transform: translate(0, 0) rotate(0.5deg);
  }
  4% {
    -webkit-transform: translate(0, 0) rotate(5.5deg);
            transform: translate(0, 0) rotate(5.5deg);
  }
  6% {
    -webkit-transform: translate(0, 0) rotate(0.5deg);
            transform: translate(0, 0) rotate(0.5deg);
  }
  8% {
    -webkit-transform: translate(0, 0) rotate(-5.5deg);
            transform: translate(0, 0) rotate(-5.5deg);
  }
  10% {
    -webkit-transform: translate(0, 0) rotate(0.5deg);
            transform: translate(0, 0) rotate(0.5deg);
  }
  12% {
    -webkit-transform: translate(0, 0) rotate(2.5deg);
            transform: translate(0, 0) rotate(2.5deg);
  }
  14% {
    -webkit-transform: translate(0, 0) rotate(5.5deg);
            transform: translate(0, 0) rotate(5.5deg);
  }
  16% {
    -webkit-transform: translate(0, 0) rotate(-5.5deg);
            transform: translate(0, 0) rotate(-5.5deg);
  }
  18% {
    -webkit-transform: translate(0, 0) rotate(-1.5deg);
            transform: translate(0, 0) rotate(-1.5deg);
  }
  20% {
    -webkit-transform: translate(0, 0) rotate(4.5deg);
            transform: translate(0, 0) rotate(4.5deg);
  }
  22% {
    -webkit-transform: translate(0, 0) rotate(-6.5deg);
            transform: translate(0, 0) rotate(-6.5deg);
  }
  24% {
    -webkit-transform: translate(0, 0) rotate(1.5deg);
            transform: translate(0, 0) rotate(1.5deg);
  }
  26% {
    -webkit-transform: translate(0, 0) rotate(1.5deg);
            transform: translate(0, 0) rotate(1.5deg);
  }
  28% {
    -webkit-transform: translate(0, 0) rotate(-4.5deg);
            transform: translate(0, 0) rotate(-4.5deg);
  }
  30% {
    -webkit-transform: translate(0, 0) rotate(5.5deg);
            transform: translate(0, 0) rotate(5.5deg);
  }
  32% {
    -webkit-transform: translate(0, 0) rotate(2.5deg);
            transform: translate(0, 0) rotate(2.5deg);
  }
  34% {
    -webkit-transform: translate(0, 0) rotate(3.5deg);
            transform: translate(0, 0) rotate(3.5deg);
  }
  36% {
    -webkit-transform: translate(0, 0) rotate(-3.5deg);
            transform: translate(0, 0) rotate(-3.5deg);
  }
  38% {
    -webkit-transform: translate(0, 0) rotate(-4.5deg);
            transform: translate(0, 0) rotate(-4.5deg);
  }
  40% {
    -webkit-transform: translate(0, 0) rotate(2.5deg);
            transform: translate(0, 0) rotate(2.5deg);
  }
  42% {
    -webkit-transform: translate(0, 0) rotate(0.5deg);
            transform: translate(0, 0) rotate(0.5deg);
  }
  44% {
    -webkit-transform: translate(0, 0) rotate(-3.5deg);
            transform: translate(0, 0) rotate(-3.5deg);
  }
  46% {
    -webkit-transform: translate(0, 0) rotate(-4.5deg);
            transform: translate(0, 0) rotate(-4.5deg);
  }
  48% {
    -webkit-transform: translate(0, 0) rotate(-1.5deg);
            transform: translate(0, 0) rotate(-1.5deg);
  }
  50% {
    -webkit-transform: translate(0, 0) rotate(-3.5deg);
            transform: translate(0, 0) rotate(-3.5deg);
  }
  52% {
    -webkit-transform: translate(0, 0) rotate(-2.5deg);
            transform: translate(0, 0) rotate(-2.5deg);
  }
  54% {
    -webkit-transform: translate(0, 0) rotate(3.5deg);
            transform: translate(0, 0) rotate(3.5deg);
  }
  56% {
    -webkit-transform: translate(0, 0) rotate(0.5deg);
            transform: translate(0, 0) rotate(0.5deg);
  }
  58% {
    -webkit-transform: translate(0, 0) rotate(-6.5deg);
            transform: translate(0, 0) rotate(-6.5deg);
  }
  60% {
    -webkit-transform: translate(0, 0) rotate(-3.5deg);
            transform: translate(0, 0) rotate(-3.5deg);
  }
  62% {
    -webkit-transform: translate(0, 0) rotate(-1.5deg);
            transform: translate(0, 0) rotate(-1.5deg);
  }
  64% {
    -webkit-transform: translate(0, 0) rotate(3.5deg);
            transform: translate(0, 0) rotate(3.5deg);
  }
  66% {
    -webkit-transform: translate(0, 0) rotate(0.5deg);
            transform: translate(0, 0) rotate(0.5deg);
  }
  68% {
    -webkit-transform: translate(0, 0) rotate(4.5deg);
            transform: translate(0, 0) rotate(4.5deg);
  }
  70% {
    -webkit-transform: translate(0, 0) rotate(1.5deg);
            transform: translate(0, 0) rotate(1.5deg);
  }
  72% {
    -webkit-transform: translate(0, 0) rotate(-3.5deg);
            transform: translate(0, 0) rotate(-3.5deg);
  }
  74% {
    -webkit-transform: translate(0, 0) rotate(-3.5deg);
            transform: translate(0, 0) rotate(-3.5deg);
  }
  76% {
    -webkit-transform: translate(0, 0) rotate(2.5deg);
            transform: translate(0, 0) rotate(2.5deg);
  }
  78% {
    -webkit-transform: translate(0, 0) rotate(-1.5deg);
            transform: translate(0, 0) rotate(-1.5deg);
  }
  80% {
    -webkit-transform: translate(0, 0) rotate(-5.5deg);
            transform: translate(0, 0) rotate(-5.5deg);
  }
  82% {
    -webkit-transform: translate(0, 0) rotate(7.5deg);
            transform: translate(0, 0) rotate(7.5deg);
  }
  84% {
    -webkit-transform: translate(0, 0) rotate(0.5deg);
            transform: translate(0, 0) rotate(0.5deg);
  }
  86% {
    -webkit-transform: translate(0, 0) rotate(5.5deg);
            transform: translate(0, 0) rotate(5.5deg);
  }
  88% {
    -webkit-transform: translate(0, 0) rotate(4.5deg);
            transform: translate(0, 0) rotate(4.5deg);
  }
  90% {
    -webkit-transform: translate(0, 0) rotate(-2.5deg);
            transform: translate(0, 0) rotate(-2.5deg);
  }
  92% {
    -webkit-transform: translate(0, 0) rotate(1.5deg);
            transform: translate(0, 0) rotate(1.5deg);
  }
  94% {
    -webkit-transform: translate(0, 0) rotate(-5.5deg);
            transform: translate(0, 0) rotate(-5.5deg);
  }
  96% {
    -webkit-transform: translate(0, 0) rotate(7.5deg);
            transform: translate(0, 0) rotate(7.5deg);
  }
  98% {
    -webkit-transform: translate(0, 0) rotate(-3.5deg);
            transform: translate(0, 0) rotate(-3.5deg);
  }
  0%,
  100% {
    -webkit-transform: translate(0, 0) rotate(0);
            transform: translate(0, 0) rotate(0);
  }
}

.container__section {
  margin: auto;
}

.container {
  min-height: 100vh;
  width: 100%;
}

body {
  background-color: var(--darkground);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  font-family: Roboto;
  color: var(--darkground);
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

@media screen and (min-width: 320px) {
  .sliders {
    max-width: 768px;
  }
}

@media screen and (min-width: 768px) {
  .sliders {
    max-width: 1024px;
  }
}

@media screen and (min-width: 1024px) {
  .sliders {
    max-width: 1024px;
  }
}
/*# sourceMappingURL=style.css.map */